<div class="bookmark-card">
  <div class="status-bar <%= bookmark.contacted? ? 'contacted' : 'not-contacted' %>">
    <p class="status-text"> <%= bookmark.contacted? ? 'Contacted' : 'Not contacted' %> </p>
  </div>

  <div class="delete-icon">
    <%= link_to saved_property_path(bookmark.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove this from your bookmarks?" }, class:"button-none"  do %>
      <i class="fa-sharp-duotone fa-solid fa-xmark delete-icon"></i>
    <% end %>
  </div>

    <div class="card-header">
      <div id="carouselExample<%= bookmark.property.id %>" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= link_to property_path(bookmark.property) do %>
              <img src="<%= bookmark.property.image_urls.first %>" class="property-image" alt="property image">
            <% end %>
          </div>
          <% bookmark.property.image_urls.drop(1).each do |image| %>
            <div class="carousel-item">
              <%= link_to property_path(bookmark.property) do %>
                <img src="<%= image %>" class="property-image" alt="property image">
              <% end %>
            </div>
          <% end %>
        </div>

        <div data-controller="image-count" data-image-count-total-image-value="<%= bookmark.property.image_urls.count.to_s %>">
          <button class="carousel-control-prev" type="button" data-action="click->image-count#subtract" data-bs-target="#carouselExample<%= bookmark.property.id %>" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-action="click->image-count#add" data-bs-target="#carouselExample<%= bookmark.property.id %>" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
          <i class="fa-solid fa-camera" data-image-count-target="imageCount"></i>
        </div>
      </div>
    </div>

    <div class="card-content">
      <%= link_to property_path(bookmark.property) do %>
        <h2 class="bookmark-address"><%= "#{bookmark.property.address}, #{bookmark.property.location.postcode}" %></h2>
      <% end %>
      <hr>
      <div class="main-info">
        <p class="price">£<%= number_with_delimiter(bookmark.property.price, delimiter: ',') %></p>
        <div>
          <span><i class="fa-solid fa-bed fa-xs"></i></span>
          <span><%= bookmark.property.bedrooms %></span>
          <span><i class="fa-solid fa-bath fa-xs"></i></span>
          <span><%= bookmark.property.bathrooms %></span>
        </div>
      </div>
      <hr>

        <div class="comment-section" data-controller="comment-form">
          <!-- Comment Display Section -->
          <div data-comment-form-target="display">
            <p data-comment-form-target="comment"><%= bookmark.comment || '' %></p>
            <% if bookmark.comment.present? %>
              <button type="button" data-action="click->comment-form#edit" class="button-edit">Add note</button>
            <% end %>
          </div>

          <!-- Comment Form Section -->
          <div data-comment-form-target="formWrapper" class="<%= 'hidden' if bookmark.comment.present? %>">
            <%= simple_form_for bookmark, url: saved_property_path(bookmark), method: :patch, remote: true, data: {comment_form_target: "form"} do |f| %>
              <%= f.input_field :comment, placeholder: "Add a note...", class: "comment-field", data: { comment_form_target: "textarea" } %>
              <%= f.button :submit, 'Save note', class: "button-edit", data: { action: "click->comment-form#save" } %>
            <% end %>
          </div>
        </div>


        <div class="contact-section button-contact" data-bs-toggle="modal" data-bs-target="#contact_<%= bookmark.id %>">
              <p class="mb-0">Contact</p>
        </div>


      <div class="modal fade" id="contact_<%= bookmark.id %>" tabindex="-1" aria-labelledby="contact_<%= bookmark.id %>Label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="contact_<%= bookmark.id %>Label">Contact Agent for <%= bookmark.property.address %></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= simple_form_for bookmark do |form| %>
                <div class="form-group">
                  <%= form.input :message, as: :text %>
                  <%= form.input :contacted, as: :hidden, input_html: {value: true} %>
                </div>
                <%= form.submit "Submit", class: "btn btn-primary btn-contact-form" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    </div>
</div>
