<h2>Show page for saved property</h2>

<% if @save_property.empty? %>
    <h1>Nothing to show yet</h1>
  <% else %>
    <div>
      <h2 class="item"><%= @save_property.street_address %></h2>
      <h3 class="item"><%= @save_property.description %></h3>
      <h3 class="item"><%= @save_property.postcode %></h3>
      <h3 class="item"><%= @save_property.bedrooms %></h3>
      <h3 class="item"><%= @save_property.bathrooms %></h3>
      <h3 class="item"><%= @save_property.garden %></h3>
      <h3 class="item"><%= @save_property.floor_area %></h3>
      <h3 class="item"><%= @save_property.type %></h3>
      <h3 class="item"><%= @save_property.council_tax %></h3>
    </div>
  <% end %>
