<%= form_with(model: @recommendation, local: true) do |form| %>
  <% if @recommendation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recommendation.errors.count, "error") %> prohibited this recommendation from being saved:</h2>
      <ul>
        <% @recommendation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <section id="recommendation" class="text-center py-3">
    <div class="container">
      <h2 class="section-title"> Recommendation </h2>
      <div class="border-bottom"></div>
      <p class="lead"> Your Recommendation is very valuable for us...</p>

      <form class="form-fields">
        <div class="field">
          <%= form.label :postcode %>
          <%= form.text_field :postcode %>
        </div>

        <div class="field">
          <%= form.label :comment %>
          <%= form.text_area :comment %>
        </div>

        <div class="button btn-primary">
          <%= form.submit %>
        </div>
      </form>
    </div>
  </section>
<% end %>
