<div class="container property-index">
  <div class="property-img">
    <div id="carouselExample<%= property.id %>" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= link_to property_path(property) do %>
            <img src="<%= property.image_urls.first %>" class="d-block w-100" alt="property image">
          <% end %>
        </div>
        <%= property.image_urls.drop(1).each do |image| %>
          <div class="carousel-item">
            <%= link_to property_path(property) do %>
            <img src="<%= image %>" class="d-block w-100" alt="property image">
            <% end %>
          </div>
        <% end %>
      </div>
      <div data-controller="image-count" data-image-count-total-image-value=<%=property.image_urls.count.to_s %>>
        <button class="carousel-control-prev" type="button" data-action="click->image-count#subtract" data-bs-target="#carouselExample<%= property.id %>" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-action="click->image-count#add" data-bs-target="#carouselExample<%= property.id %>" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <% image_total = property.image_urls.count.to_s %>
          <i class="fa-solid fa-camera" data-image-count-target="imageCount"></i>
      </div>
    </div>

    <div class="icon">
      <i class="fa-regular fa-paper-plane"></i>
      <i class="fa-regular fa-heart"></i>
    </div>
  </div>
  <div class="property-details-container">
    <div class="property-details">
      <i class="fa-regular fa-bell"></i>
      <%= link_to property_path(property) do %>
        <h2 class="street-address"><%= property.address %></h2>
      <% end %>
      <p class="content"><%= property.description %></p>
      <hr class="hr">
      <div class="property-specification">
        <h2 class="price">£800,000</h2>
        <div class="vl"></div>
        <div class="amenities-icon">
          <span><i class="fa-solid fa-bed"></i></span>
          <span><%= property.bedrooms %></span>
          <span><i class="fa-solid fa-bath"></i></span>
          <span><%= property.bathrooms %></span>
        </div>
        <div class="vl-left"></div>
        <h2 class="size">£6,340 / sqm</h2>
      </div>
      <hr class="hr-bottom">
      <div class="highlight">
        <span><i class="fa-regular fa-star"></i></span>
        <span>Highlights</span>
      </div>
      <div class="highlight-button my-2">
        <button>  Good School  </button>
        <button class="x">Excellent p/sqm</button>
      </div>
      <div class="highlight-button">
        <button>Low Crime</button>
        <button class="x">20 minutes commute</button>
      </div>
    </div>
     <div class="vl-border"></div>
    <div class="property-analytics">
      <div class="analytics-header">
        <span><i class="fa-solid fa-chart-simple"></i></span>
        <span><h3>Analytics</h3></span>
      </div>
      <div class="analytics-card shadow">
        <span><i class="fa-solid fa-location-dot"></i></span>
        <span class="location-text">Location</span>
        <div class="vl-border-analytics"></div>
        <h3 class="analytics-text">93%</h3>
      </div>
      <div class="analytics-card shadow">
        <span><i class="fa-solid fa-location-dot"></i></span>
        <span class="location-text">Value</span>
        <div class="vl-border-analytics"></div>
        <h3 class="analytics-text">57%</h3>
      </div>
      <div class="analytics-card shadow">
        <span><i class="fa-solid fa-location-dot"></i></span>
        <span class="location-text">Amenities</span>
        <div class="vl-border-analytics"></div>
        <h3 class="analytics-text">42%</h3>
      </div>
      <div class="analytics-card shadow">
        <span><i class="fa-solid fa-location-dot"></i></span>
        <span class="location-text">Rating</span>
        <div class="vl-border-analytics"></div>
        <h3 class="analytics-text">90%</h3>
      </div>
      <div class="helpful d-flex justify-content-between">
        <i class="fa-regular fa-thumbs-up"></i>
        <p> was this helpful?</p>
        <i class="fa-regular fa-thumbs-down"></i>
      </div>
    </div>
  </div>
</div>
