<div class="card-container">
  <div class="property-img">
    <div id="carouselExample<%= property.id %>" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= link_to property_path(property) do %>
            <img src="<%= property.image_urls.first %>" class="d-block w-100" alt="property image">
          <% end %>
        </div>
        <%= property.image_urls.drop(1).each do |image| %>
          <div class="carousel-item">
            <%= link_to property_path(property) do %>
            <img src="<%= image %>" class="d-block w-100" alt="property image">
            <% end %>
          </div>
        <% end %>
        <div class="icon">
      <i class="fa-regular fa-paper-plane"></i>
      <i class="fa-regular fa-heart"></i>
    </div>
      </div>
      <div data-controller="image-count" data-image-count-total-image-value=<%=property.image_urls.count.to_s %>>
        <button class="carousel-control-prev" type="button" data-action="click->image-count#subtract" data-bs-target="#carouselExample<%= property.id %>" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-action="click->image-count#add" data-bs-target="#carouselExample<%= property.id %>" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <% image_total = property.image_urls.count.to_s %>
          <i class="fa-solid fa-camera" data-image-count-target="imageCount"></i>
      </div>
    </div>
  </div>
  <div class="property-details-container">
    <div class="property-details">
      <i class="fa-regular fa-bell"></i>
      <%= link_to property_path(property) do %>
        <h2 class="street-address"><%= property.address %>, <%= property.location.raw_postcode %></h2>
      <% end %>
      <p class="content"> <%= property.description %> </p>
      <hr class="hr">
      <div class="property-specification">
        <h2 class="price">£<%= number_with_delimiter(property.price, :delimiter => ',') %></h2>
        <div class="vl"></div>
        <div class="amenities-icon">
          <span><i class="fa-solid fa-bed fa-xs"></i></span>
          <span><%= property.bedrooms %></span>
          <span><i class="fa-solid fa-bath fa-xs"></i></span>
          <span><%= property.bathrooms %></span>
        </div>
        <div class="vl-left"></div>
        <h2 class="size">£<%= number_with_delimiter((property.price/property.floor_area).round, :delimiter => ',') %> / sqm</h2>
      </div>
    </div>
    <hr class="hr-bottom">
    <div class="property-analytics">
      <div class="highlight">
        <span><i class="fa-regular fa-star"></i></span>
        <span>Highlights</span>
      </div>
      <div class="highlights-grid">
        <% if property.location.crime < 350 %>
          <div class="highlight-button">
            <button> Low Crime </button>
          </div>
        <% end %>
        <% if property.location.rent_price > 2000 %>
          <div class="highlight-button">
            <button> Rental price </button>
          </div>
        <% end %>
        <%# <% if Amenity.where(type: :hospital).geodcode.near(property.location.lat, property.location.long) %>
          <%# <div class="highlight-button"> %>
            <%# <button>Hospital nearby</button> %>
          <%# </div> %>
        <%# <% end %>
        <%# <% if Amenity.where(type: :subway_station).geodcoded.near(property.location.lat, property.location.long) %>
          <%# <div class="highlight-button"> %>
            <%# <button>Underground connected</button> %>
          <%# </div> %>
        <%# <% end %>
        <%# <% if Amenity.where(type: :subway_station).geodcoded.near(property.location.lat, property.location.long) %>
          <%# <div class="highlight-button"> %>
            <%# <button>Train transport</button> %>
          <%# </div> %>
        <%# <% end %>
        <% if (property.price/property.floor_area) < 8000 %>
          <div class="highlight-button">
            <button>Value per sqm </button>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
