Contact Estate Agents

<%= form_with scope: :contact_form, url: contact_form_index_path, method: :post, local: true do |form| %>
  <div class="form-group">
    <%= form.label :message %>
    <%= form.text_area :message, class: "form-control form-text-area" %>
  </div>
  <%= form.submit "Submit", class: "btn btn-contact" %>

  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>
<% end %>
