
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.architecturaldigest.com/photos/6554f858527022b540b4b657/16:9/w_2560%2Cc_limit/GettyImages-1313325675.jpg);">
  <div class="container">
    <h1>Welcome To Property Sphere </h1>
    <p>Your property search in one place</p>
    <div class="search-container">
      <%= form_with url: search_properties_path, method: :get do |f| %>
        <%= f.select :postcode,
          options_for_select(@postcodes),
          { include_blank: "Search a Postcode" },
          data: { class: 'search-bar', controller: "tom-select", tom_select_options_value: {},
          }
        %>
        <%= f.submit %>
        <button class="search-icon">
          <i class="fa fa-search"></i>
        </button>
      <% end %>
    </div>
    <%= link_to "Search for your dream area...", properties_path, class: "btn btn-gradient" %>
  </div>
</div>


<section id="home-card" class="py-2">
  <div class="container">
    <h2 class="section-title text-center"> Properties </h2>
    <div class="border-bottom"></div>
    <p class="lead text-center"> some of the most popular properties here...</p>
    <div class="references" style='width: 88dvw;'>
      <div style="display: flex; overflow-x: scroll;">
        <% @properties.each do |property| %>
          <div class="property-img card-property shadow">
              <%= image_tag property.image_urls.sample, style: 'width: 280px' %>
            <div style="display: grid;">
              <div class="property-details text-wrap">
                <p><%= property.address %></p>
                <p id="index-desc">£<%= number_with_delimiter(property.price, delimiter: ',') %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
