<div class="property-index-container">

  <div class="search-display">
    <p class="search-display-text">Your search: <%= params[:postcode] %> yielded <%= pluralize(@properties.length, "result") %></p>
    <div class="location-marker-index">
      <span><%= link_to 'Map view', properties_map_path %></span>
      <span><i class="fa-solid fa-location-dot"></i></span>
    </div>
  </div>
  <div class="main-content">
    <% if @data["properties"].empty? %>
      <%= render "filters_nav" %>
      <div class="card-section">
        <h3>Recommended Properties</h3>
        <% @data["recommended_properties"].each do |property| %>
          <div class="mt-4">
            <%= render "card", property: property %>
          </div>
        <% end %>
      </div>
    <% else %>
      <%= render "filters_nav" %>
      <div class="card-section">
        <% @data["properties"].each do |property| %>
          <div class="mt-4">
            <%= render "card", property: property %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
