<div class="property-index-container">

  <div class="search-display">
    <p class="search-display-text">Your search: <%= params[:postcode] %> yielded <%= pluralize(@properties.length, "result") %></p>
    <div class="location-marker-index">
      <span><%= link_to 'Map view', properties_map_path %></span>
      <span><i class="fa-solid fa-location-dot"></i></span>
    </div>
  </div>

  <div class="main-content">
    <div class="categories">

      <div class="category-title">
        <span><i class="fa-solid fa-chart-simple"></i></span>
        <span>Your filters</span>
      </div>

      <hr class="hr-properties">
      <p class="instruction">Select filters...</p>

      <div class="filter-cat-container">
        <div class="min-price">
          <input class="price-input" type="text" placeholder="Min"></span>
          <i class="fa-solid fa-sterling-sign"></i>
          <div class="vl-left-price"></div>
          <i class="fa-solid fa-caret-down"></i>
        </div>
        <div class="max-price">
          <input class="price-input" type="text" placeholder="Max"></span>
          <i class="fa-solid fa-sterling-sign"></i>
          <div class="vl-left-price"></div>
          <i class="fa-solid fa-caret-down"></i>
        </div>
      </div>
      <div class="filter-cat-container">
        <div class="min-price">
          <input class="price-input" type="text" placeholder="Min"></span>
          <i class="fa-solid fa-sterling-sign"></i>
          <div class="vl-left-price"></div>
          <i class="fa-solid fa-caret-down"></i>
        </div>

        <div class="max-price">
          <input class="price-input" type="text" placeholder="Max"></span>
          <i class="fa-solid fa-sterling-sign"></i>
          <div class="vl-left-price"></div>
          <i class="fa-solid fa-caret-down"></i>
        </div>
      </div>
      <div class="filter-cat-container">
        <div class="min-price">
          <input class="price-input" type="text" placeholder="Min"></span>
          <i class="fa-solid fa-sterling-sign"></i>
          <div class="vl-left-price"></div>
          <i class="fa-solid fa-caret-down"></i>
        </div>

        <div class="max-price">
          <input class="price-input" type="text" placeholder="Max"></span>
          <i class="fa-solid fa-sterling-sign"></i>
          <div class="vl-left-price"></div>
          <i class="fa-solid fa-caret-down"></i>
        </div>
      </div>
      <div class="filter-cat-container">
        <div class="min-price">
          <input class="price-input" type="text" placeholder="Min"></span>
          <i class="fa-solid fa-sterling-sign"></i>
          <div class="vl-left-price"></div>
          <i class="fa-solid fa-caret-down"></i>
        </div>

        <div class="max-price">
          <input class="price-input" type="text" placeholder="Max"></span>
          <i class="fa-solid fa-sterling-sign"></i>
          <div class="vl-left-price"></div>
          <i class="fa-solid fa-caret-down"></i>
        </div>
      </div>
    </div>
    <% if @data["properties"].empty? %>
      <div class="card-section">
        <h3>Recommended Properties</h3>
        <% @data["recommended_properties"].each do |property| %>
          <div class="mt-4">
            <%= render "card", property: property %>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="card-section">
        <% @data["properties"].each do |property| %>
          <div class="mt-4">
            <%= render "card", property: property %>
          </div>
        <% end %>
      </div>
    <% end %>

  </div>
</div>
