<%= link_to "Search results", properties_path %>

<button type="button" class="btn btn-contact" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Contact Agent
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Contact Agent</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with scope: :contact_form, url: contact_form_index_path, method: :post, local: true do |form| %>
          <div class="form-group ">
            <%= form.text_area :message, class: "form-control form-text-area" %>
          </div>
          <%= form.submit "Submit", class: "btn btn-primary btn-contact-form" %>

          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>">
              <%= value %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="property-img">
    <div id="carouselExample<%= @property.id %>" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="<%= @property.image_urls.first %>" class="d-block w-100" alt="property image">
        </div>
        <%= @property.image_urls.drop(1).each do |image| %>
          <div class="carousel-item">
            <img src="<%= image %>" class="d-block w-200" alt="property image">
          </div>
        <% end %>

      </div>

      <div data-controller="image-count" data-image-count-total-image-value=<%=@property.image_urls.count.to_s %>>
        <button class="carousel-control-prev" type="button" data-action="click->image-count#subtract" data-bs-target="#carouselExample<%= @property.id %>" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-action="click->image-count#add" data-bs-target="#carouselExample<%= @property.id %>" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>

  <div>
    <h2 class="item"><%= @property.address %></h2>
    <p>Guide Price</p>
    <h4>£<%= number_with_delimiter(@property.price, :delimiter => ',') %></h3>
  </div>

  <div class="property-show-infos">
    <div class="property-show-info">
      <div class="icon-infos">
        <div>
          <span>Property Type</span>
          <div>
            <span><i class="fa-solid fa-house"></i></span>
            <span><%= @property.property_type %></span>
          </div>
        </div>

        <div>
          <span>Bedrooms</span>
          <div>
            <span><i class="fa-solid fa-bed"></i></span>
            <span><%= @property.bedrooms %></span>
          </div>
        </div>

        <div>
          <span>Bathooms</span>
         <div>
            <span><i class="fa-solid fa-bath"></i></span>
            <span><%= @property.bathrooms %></span>
          </div>
        </div>

        <div>
          <span>Floor Area</span>
          <div>
            <span><i class="fa-solid fa-border-all"></i></span>
            <span><%= @property.floor_area.round(2) %> sqm</span>
          </div>
        </div>
      </div>


      <div class="analytics-dashboard">
        <div class="show-analytics-card">
          <div class="analytics-title">
            <span><i class="fa-solid fa-map"></i></span>
            <span>Map</span>
          </div>
          <div class="map">
            <div style="width: 100%; height: 425px;"
              data-controller="map"
              data-map-markers-value="<%= @markers.to_json %>"
              data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
          </div>
        </div>

        <div class="analytics">
          <div class="analytics-title">
            <span><i class="fa-solid fa-chart-simple"></i></span>
            <span>Analytics Dashboard</span>
          </div>
          <div>
            <div class="left-analytics d-flex">
              <div class="show-analytics-card">
                <div class="analytics-title">
                  <span><i class="fa-solid fa-money-bill-trend-up"></i></span>
                  <span>Property</span>
                </div>
                <div class="show-analytics-card-content">
                  <p class="text-center lh-sm"><strong>Value</strong></p>
                  <hr>
                  <div class="d-flex justify-content-between">
                    <p>Sqm value</p>
                    <p>£<%= number_with_delimiter((@property.price/@property.floor_area)*1000, :delimiter => ',').to_i %> per sqm</p>
                  </div>
                  <div class="d-flex justify-content-between">
                    <p>Area average rent value</p>
                    <p>£<%= number_with_delimiter((@property.location.rent_price/12), :delimiter => ',') %> per month</p>
                  </div>
                  <div class="d-flex justify-content-between">
                    <p>Area average purchase value</p>
                    <p>£<%= number_with_delimiter((@property.location.purchase_price), :delimiter => ',') %></p>
                  </div>
                </div>
              </div>

              <div class="show-analytics-card">
                <div class="analytics-title">
                  <span><i class="fa-solid fa-location-pin"></i></span>
                  <span>Neighbourhood</span>
                </div>
                <div class="show-analytics-card-content">
                  <div class="visualisation">
                    <div  class="dashboard-text">
                      <p class="text-center lh-sm"><strong>Safety</strong></p>
                      <hr>
                      <div class="d-flex justify-content-between">
                        <% if @property.location.crime < 1000%>
                          <p>Low crime</p>
                        <% else %>
                          <p>Medium crime</p>
                        <% end %>
                          <p><%= @property.location.crime.to_i %> total crimes in 2023</p>
                      </div>
                      <p class="text-center lh-sm"><strong>People</strong></p>
                      <hr>
                      <div class="d-flex justify-content-between">
                        <p>Majority demographic</p>
                        <%= @property.location.demographic %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="show-analytics-card">
                <div class="analytics-title">
                  <span><i class="fa-solid fa-location-crosshairs"></i></span>
                  <span>Location</span>
                </div>
                <div class="show-analytics-card-content">
                  <div class="visualisation">

                    <div class="dashboard-text">
                      <p class="text-center lh-sm"><strong>Supermarket</strong></p>
                      <hr>
                      <div class="d-flex justify-content-between">
                        <p>Supermarket </p>
                        <%= @amenities.where(category: "supermarket").first.name%>
                      </div>

                      <p class="text-center lh-sm"><strong>Medical</strong></p>
                      <hr>
                      <div class="d-flex justify-content-between">
                        <p>Hospital</p>
                        <%= @amenities.where(category: "hospital").first.name%>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p>Pharmacy</p>
                        <%= @amenities.where(category: "pharmacy").first.name%>
                      </div>
                      <p class="text-center lh-sm"><strong>Schools</strong></p>
                      <hr>
                      <div class="d-flex justify-content-between">
                        <p>Primary</p>
                        <%= @amenities.where(category: "primary_school").first.name%>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p>Scondary</p>
                        <%= @amenities.where(category: "secondary_school").first.name%>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="right-analytics">
              <div class="show-analytics-card">
                <div class="analytics-title">
                  <span><i class="fa-solid fa-chart-pie"></i></span>
                  <span>Total Score</span>
                </div>
                <div class="analytics-card">
                  <span><i class="fa-solid fa-location-dot"></i></span>
                  <span class="location-text">Rating</span>
                  <div class="vl-border-analytics"></div>
                  <h3 class="analytics-text">90%</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <h4>Description</h4>
        <p><%= @property.description %></p>
      </div>

      <div class="bottom-card">
        <p class="title"><strong>Council Tax</strong></p>
        <p><%= @property.council_tax %></p>
      </div>

      <div class="bottom-card">
        <p class="title"><strong>Freehold</strong></p>
        <p><%= @property.freehold %></p>
      </div>

      <div class="bottom-card">
        <p class="title"><strong>Energy Performance</strong></p>
        <p>B</p>
      </div>

    </div>
  </div>
</div>
